.DisplayNumber{
  width: 100%;
  background: rgba(238, 238, 238, 0.3);
  padding: 30px;
  display: inline-flex;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  margin-top: 30px;
}